[2015-02-04 11:37] mhoad opened #1 "Support for Facebook Login Accounts"
Love the idea of this project and would love to have a bit of a play around with it. Just wondering if there was any possible way of finding the appropriate login details for accounts which are linked to Facebook accounts. There doesn't appear to be a username / password associated with the account as far as I can tell??

[2015-02-04 20:38] killswitch opened #2 "Error: spawn ENOENT"
When using this app this happens after the first song is downloaded `Error: spawn ENOENT` and if you rerun it again, it says the song was downloaded already, goes to the next one, downloads it and gives this error again.

[2015-02-05 13:20] qrpike commented on #1
I believe you may be able to use your facebook login details for spotify as well. I am not 100% sure. I did not connect my facebook account so I cannot check for you. Let me know if you find something that works so I can put it in the readme.

Thanks,

[2015-02-05 13:21] qrpike commented on #2
Can you give me some more details on the issue? OS, Node Version and also please put the entire error log in here ( redact your user account info! ).

[2015-02-06 01:51] mhoad commented on #1
Unfortunately it doesn't appear to work. Thanks for the tip anyways.

[2015-02-06 02:52] qrpike commented on #1
A friend of mine was having the same problem. Not really any way around the facebook issue. You have to disconnect your account from FB so spotify assigns you a username & password.

Here are some details on their forums:
https://community.spotify.com/t5/Newcomers-and-Contribution/Tutorial-How-to-Disconnect-Spotify-from-Facebook/td-p/247266

[2015-02-10 20:21] killswitch commented on #2
OS X Mavericks, v0.10.36

[code]

[2015-02-10 21:17] qrpike commented on #2
Seems you don't have ffmpeg installed on your machine. This is the library that writes the ID3 data to the mp3 file ( artist, title, etc. ).

To install: https://trac.ffmpeg.org/wiki/CompilationGuide/MacOSX#ffmpegthroughHomebrew

Let me know if that fixes it for you.

[2015-02-10 23:32] killswitch commented on #2
Installing ffmpeg fixed the issue, thank you.

[2015-02-10 23:32] #2 closed

[2015-02-20 20:28] psychosteve opened #3 "Install Issue"
What does this error mean? <pre><code>Lloyds-MBP:~ Lloyd$ npm install -g spotify-playlist-downloader
npm ERR! Darwin 14.1.0
npm ERR! argv "node" "/usr/local/bin/npm" "install" "-g" "spotify-playlist-downloader"
npm ERR! node v0.12.0
npm ERR! npm  v2.5.1
npm ERR! path /usr/local/lib/node_modules/spotify-playlist-downloader
npm ERR! code EACCES
npm ERR! errno -13

npm ERR! Error: EACCES, unlink '/us

[2015-02-20 20:31] psychosteve commented on #3
After running it in root and getting a load of protobuf issues i try an example and i get this...
<pre><code>Downloader App Started..
 - Getting Playlist Data
 - Got Playlist: ALL MUSIC
 - Processing 100 Tracks
/usr/local/lib/node_modules/spotify-playlist-downloader/node_modules/spotify-web/node_modules/protobufjs/ProtoBuf.js:1987
                            throw(e);

[2015-02-23 15:35] qrpike commented on #3
Do you have command line tools installed on your mac? You will need this for the node package dependencies, which seems like is the part that's failing.

http://railsapps.github.io/xcode-command-line-tools.html

[2015-02-28 14:12] LadyVipEx opened #4 "Linux - Error: spawn ENOENT"
Downloader App Started..
   Getting Playlist Data
   Got Playlist: Top 100 Hip-Hop Tracks on Spotify
   Processing 100 Tracks
   Already Downlaoded: Drake Energy
   Already Downlaoded: J. Cole Apparently
   Downloading: Usher - I Don't Mind
   DONE: Usher - I Don't Mind
   Error: spawn ENOENT

This happens directly after downloading a song.

Removed Legacy Node JS and installed with nvm.

Now gett

[2015-02-28 15:14] renalid commented on #4
You need to install FFMPEG. This error is due to the library who add ID3 Tag.

[2015-02-28 18:03] LadyVipEx commented on #4
I removed all the "^" before the version in package.json. And changed Coffescript version to 1.9.1

Used Node version v0.11.0.

Then it worked! :)

[2015-02-28 18:03] #4 closed

[2015-03-01 16:00] kwunlo commented on #3
Your node version is 0.12. You need to re-install 0.10 to get protobuf to work.

[2015-03-03 21:44] williamwmd opened #5 "Increase the number kbps"
Is possible download the songs in 320kbps?

[2015-03-05 14:11] invmatt opened #6 "Error: Illegal value"
Gets the playlist data then produces this error:

ogue: 4 (not a valid enum value)
  at [object Object].ProtoBuf.Reflect.Field.verifyValue (C:\Users\matt.otley\App
Data\Roaming\npm\node_modules\spotify-playlist-downloader\node_modules\spotify-w
eb\node_modules\protobufjs\ProtoBuf.js:2321:27)
  at [object Object].Message.add (C:\Users\matt.otley\AppData\Roaming\npm\node_m
odules\spotify-playlist-do

[2015-03-17 11:47] qrpike commented on #5
Don't think so, 160kbps is the only option that I know of ( from the command line ).

[2015-03-17 11:47] #5 closed

[2015-03-17 11:47] #3 closed

[2015-03-17 11:48] #1 closed

[2015-03-17 11:48] qrpike commented on #6
I don't have a windows machine to test on, please let me know if you solve the issue.

Thanks,

[2015-04-11 15:29] legarspol opened #7 "spawn ENOENT"
Hi !
Your app works great, But at the end of the dl I get a: "Error: spawn ENOENT"
No idea why...

[code]

[2015-04-27 14:57] jeremy89632 commented on #6
Same issue on the mac too, here goes:

 - Processing 100 Tracks
/usr/local/lib/node_modules/spotify-playlist-downloader/node_modules/spotify-web/node_modules/protobufjs/ProtoBuf.js:1987
                            throw(e);
                                  ^
Error: Illegal value for Message.Field .spotify.metadata.proto.Restriction.catalogue: 4 (not a valid enum value)
  at [object Object].ProtoB

[2015-05-01 15:27] killswitch commented on #7
I had the same issue https://github.com/qrpike/spotify-playlist-downloader/issues/2

[2015-05-16 09:19] arall opened #8 "connect ECONNREFUSED"
I get this error when I try to run the example:

[code]
[code]

[2015-05-18 11:42] watsonbox commented on #8
Same here on both OSX 10.9.5 and 10.10.3.

[2015-05-18 15:04] gtothesquare commented on #8
Well, the problem is not with this module but with https://github.com/TooTallNate/node-spotify-web . I tried authenticating with spotify-web and I get the `ECONNREFUED` error. My guess is that they changed something with the protocol and requires some token.

[2015-05-18 15:06] gtothesquare commented on #8
or regarding this issue report https://github.com/TooTallNate/node-spotify-web/issues/107

[2015-05-31 01:25] roshanr10 commented on #7
I had the same issue and discovered that it is due to the metadata being written to the file. If you install FFMPEG, it should work much better. @legarspol @killswitch

[2015-06-01 20:24] gtothesquare commented on #7
@roshanr10 Are you still being able to authenticate ?

[2015-06-01 20:31] roshanr10 commented on #7
@gtothesquare Yes, I am still able to authenticate and download playlists, although only on node v.10. I am currently seeing if it is possible to modify it to work on the latest version.

[2015-06-02 19:41] gtothesquare commented on #8
Ok found the problem, currently this only works with node 10.x (i tested it with node v0.10.36). If you upgrade your node instalation to 0.12.x then I suggest you install nvm have multiple version of node.

@watsonbox  @arall Once installed make the switch to 0.10.36 using nvm and then unistall  spotify-playlist-downloader global package. Now install again with. This last part is important because

[2015-06-02 19:42] gtothesquare commented on #7
@roshanr10 damn thanks... I was running 10 with nvm but I needed to uninstall the package and installed again, since previously it was installed with 12 and that affected it :)

[2015-06-05 12:58] bernhardmostrey commented on #6
same issue!

Downloader App Started..
 - Getting Playlist Data
 - Got Playlist: R&B Stars
 - Processing 50 Tracks
/usr/local/lib/node_modules/spotify-playlist-downloader/node_modules/spotify-web/node_modules/protobufjs/ProtoBuf.js:1987
                            throw(e);
                                  ^
Error: Illegal value for Message.Field .spotify.metadata.proto.Restriction.catalogue: 4 (n

[2015-06-07 11:11] arall commented on #8
Perfect, it works fine now. Thanks @gtothesquare

[2015-06-11 09:09] oppsig opened #9 "Flat folders"
Can you add a flag for ignoring creating folders/subfolders, so we can just store the mp3's in the destination directory.

[2015-06-13 13:08] tristan1990 commented on #8
@gtothesquare Is yours still working. I'm having problems, even when I have reinstalled 0.10.36 with nvm..
![spotifydownloads bash 92x34](https://cloud.githubusercontent.com/assets/5122381/8144408/a15fb22e-11d5-11e5-8b52-c01b96cec637.png)

[2015-06-13 17:15] tristan1990 commented on #7
I uninstalled node completely, then reinstalled 0.10.36, installed `brew install ffmpeg` and all is working great. Good work!

[2015-06-14 12:29] gtothesquare commented on #8
@tristan1990 yeah still working. However I saw from your other comment you figured it out ?

[2015-06-14 17:51] tristan1990 commented on #8
@gtothesquare Yes, all figured out. I had to install FFPEG. Is the limit set to 100 tracks by the Spotify API?

Thanks

[2015-06-14 20:06] gtothesquare commented on #8
Cool. That I don't know off. Might be a song that is your problem :)

[2015-06-16 16:48] jrvmbust commented on #6
Same thing happens to mine, tried downgrading node via nvm to 0.10.36 but still no avail. Help?

[2015-06-17 23:36] CaptainShadows commented on #6
Same issue on node 0.12.4

[2015-06-19 13:11] ashkanalinejad commented on #6
I have the same issue on my mac. but I think it's a consequence of not having a premium account

[2015-06-19 15:19] tristan1990 commented on #6
Yes, that could be it - I have premium.
On Fri, 19 Jun 2015 at 14:11 ashkanalinejad <notifications@github.com>
wrote:

[2015-06-21 22:15] roshanr10 commented on #8
@tristan1990 I believe the limit is closer to 200 as described within their documentation. Have you solved the issue?

https://developer.spotify.com/web-api/

[2015-06-21 23:17] roshanr10 commented on #6
@tristan1990 it only works on node v10. Have you been able to solve the issue?

[2015-06-23 15:41] ajthemacboy opened #10 "Can't login using Facebook"
Hi, I have my Spotify Premium account through Facebook. When I enter my credentials they do not work. Is this unsupported, or am I doing something wrong?

[2015-06-24 14:58] gigi199596 opened #11 "Working great on linux but numbers of tracks limited to 100"
Hello,

your app is working great on linux (fedora core) but the number of tracks is limited to 100.

Is it possible to change this?

Thanks
Gilles

[2015-06-24 15:01] gigi199596 commented on #10
use your facebook email address and the specified password as well. It should work

[2015-06-25 02:55] zotoro opened #12 "FATAL ERROR: CALL_AND_RETRY_LAST Allocation Failed - process out of memory"
So I finally got the module installed without throwing errors at me, and downloaded 7 songs before getting the error in the title and stopping. Any help is appreciated.

Additionally, where are the downloaded mp3's saved on the hard drive?

[2015-06-25 08:10] reneweteling opened #13 "Error: Illegal value for Message.Field .spotify.metadata.proto.Restriction.catalogue: 4 (not a valid enum value)"
Hey there,

Nice app btw. only im receiving an error when trying to download a link.

[code]

Do you have any clueue? Thanks!

Im running on osx 10.10.3 btw

[2015-06-25 08:11] reneweteling commented on #13
duplicate of no 6

[2015-06-25 08:11] #13 closed

[2015-06-25 08:11] reneweteling commented on #6
Hey there,

Nice app btw. only im receiving an error when trying to download a link.

[code]

Do you have any clueue? Thanks!

Im running on osx 10.10.3 btw

[2015-06-25 09:05] reneweteling commented on #6
Ok solved it, you nee node v.0.10.0
just install https://www.npmjs.com/package/n
install v.0.10.0 and go :)

[2015-06-26 15:32] roshanr10 commented on #11
it is a limit within the Spotify API @gigi199596

[2015-06-26 15:32] roshanr10 commented on #10
you can create a device password @ajthemacboy

[2015-06-29 02:41] agyg2005 opened #14 "WORKING ON DEBIAN 100%, Is there any way to store the mp3 wth no sub folder?"
WORKING ON DEBIAN 100%, Is there any way to store the mp3 wth no sub folder?

[2015-07-08 01:02] jperezr21 commented on #6
Same error here. Changed to node v0.10.0 but it's still happening.
Any other solution? Thanks!

[2015-07-08 06:04] reneweteling commented on #6
@jperezr21 what os are you using, and what does node say when you do `node -v`?

[2015-07-08 12:55] jperezr21 commented on #6
@reneweteling I'm on windows 7 and using nodist for managing node versions. I downloaded v0.10.0 and when I type node -v it says v0.10.0. Still, I thought it might be using another version, so I uninstalled the others, but the error is still there.

[2015-07-08 14:23] reneweteling commented on #6
@jperezr21 hmmmm..... wel windows is an issue by default... me recommendation is to boot up a virtual box, install ubuntu and try it there in the terminal. Its a bit of a way around.... but thats probably your best bet. Good luck!

[2015-07-15 08:06] gtothesquare commented on #6
@jperezr21 try uninstalling everything related to node. You need to install the downloader with node 0.10.x if not your protobufjs will not work properly

[2015-07-15 08:07] gtothesquare commented on #8
@arall can you close this issue?

[2015-07-15 09:15] #8 closed

[2015-07-17 16:29] altrevino opened #15 "throw(e); errorr"
/usr/local/lib/node_modules/spotify-playlist-downloader/node_modules/spotify-web/node_modules/protobufjs/ProtoBuf.js:1987
                            throw(e);

[2015-07-17 23:25] fredericmalo commented on #15
Hello, yes, I got this error too :

/usr/local/lib/node_modules/spotify-playlist-downloader/node_modules/spotify-web/node_modules/protobufjs/ProtoBuf.js:1987
                            throw(e);

(newbie here, thanks)

[2015-07-25 07:55] shushry commented on #15
Confirmed here as well (2.6.32-431.el6.x86_64 #1 SMP Fri Nov 22 03:15:09 UTC 2013 x86_64 x86_64 x86_64 GNU/Linux)

[2015-07-26 16:26] edravis commented on #15
+1

[2015-08-03 10:28] rabeetio opened #16 "TrackError: Account subscription status not Spotify Premium ... { Skipping Track }"
I'm getting this error. Has anybody got a workaround for it?

I have got a premium account by the way.

Thanks!

[2015-08-03 14:53] marciopamplona commented on #15
+1
/usr/local/lib/node_modules/spotify-playlist-downloader/node_modules/spotify-web/node_modules/protobufjs/ProtoBuf.js:1987
                            throw(e);
                                  ^
Error: Illegal value for Message.Field .spotify.metadata.proto.Restriction.catalogue: 4 (not a valid enum value)

[2015-08-04 15:53] leonelfolmer commented on #16
Same thing here, got a premium account too.

[2015-08-04 19:03] nerijusgood commented on #16
Here too. Weird, right?

[2015-08-04 19:22] nerijusgood commented on #16
Same here - account premium.

[2015-08-05 10:08] marcosloic commented on #16
Same

[2015-08-08 20:11] oppsig commented on #16
Same

[2015-08-10 12:01] qrpike commented on #16
This is a problem with one of the libraries this script uses, you can see the error here: https://github.com/TooTallNate/node-spotify-web/issues/111

[2015-08-10 13:26] nerijusgood commented on #16
I saw that too, however there was workaround for that library. It would be nice if this could be updated :+1:

[2015-08-10 13:27] qrpike commented on #16
If you link the workaround I will be happy to implement it. Thanks.

*Quinton Pike*
Previously at: *Turner, **CNN, Google* and now at:* TST*
http://qpike.com - and If you must: 404-402-7441

On Mon, Aug 10, 2015 at 9:26 AM, Nerijus <notifications@github.com> wrote:

[2015-08-12 13:03] leonelfolmer commented on #16
@qrpike, any luck with that?

[2015-08-16 17:53] sealskej commented on #16
+1

[2015-08-17 08:51] felixhammerl commented on #16
Seems like there are multiple issues at play in in https://github.com/TooTallNate/node-spotify-web/ repo:
- Protocol Buffer Message Types have apparently been updated
- Spotify seems to filter by user agent and plainly throws some out, so you might need to change the user agent to claim it's a current Chrome release
- For some reason, it doesn't work on node@0.12

[2015-08-17 13:27] qrpike commented on #16
@felixhammerl Could you create a pull request with the appropriate changes?

[2015-08-17 20:00] scambier commented on #15
+1

[2015-08-17 21:58] kevinhagenaars commented on #15
+1

Same error as @marciopamplona on Windows 10 x64

[2015-08-20 20:07] rabeetio commented on #16
@qrpike Could you update your git with the fix from fuzeman here please? - https://github.com/fuzeman/node-spotify-web/tree/issue/111 :) :) :)

[2015-08-21 02:07] ozgurduygu commented on #6
I struggled with the same issue and here's the solution that I came with:
uninstall node.js completely
install 0.10.36  http://nodejs.org/dist/v0.10.36
make sure you have installed brew and ffmpeg

[2015-08-24 14:29] qrpike commented on #16
I have updated it to use the forked version. This fixed the account issue.

[2015-08-24 14:29] #16 closed

[2015-08-24 14:56] felixhammerl commented on #16
your fix uses the wrong branch for the forked version. please update the package.json accordingly:

[code]

[2015-08-24 14:57] qrpike commented on #16
Have you tried it? It seems to be working fine for me.

[2015-08-24 15:06] felixhammerl commented on #16
no, but
- apparently @rabeetio has concluded that, for magical reasons, it seemed to be working again, w/o your change, which might be what you are experiencing.
- the master branch of the forked repo you linked to in the package.json is in sync with TooTallNate's repo, so there will not be a fix there
- the branch you want to use is [issue/111](https://github.com/fuzeman/node-spotify-web/tree/iss

[2015-08-24 15:08] qrpike commented on #16
Yea I merged in the issue/111 version and its working fine for me.

[2015-08-27 18:02] nerijusgood opened #18 "Error: spawn ffmpeg ENOENT"
Hi,

SPD works just fine on MAC. However on Windows installed properly it give `Error: spawn ffmpeg ENOENT` error after every song is downloaded:

[code]

I tried installing `ffmpeg` via npmjs and even via regular installation (downloading zip from their website...). Well nothing changes.

OS: Windows 10
Node: v0.12.7
npm: 2.11.3

Is it possible to avoid using ffmpeg at all? I googled similar issu

[2015-08-27 18:31] nerijusgood commented on #10
Who has issues with premium account or authentication errors just fallow these steps:
1. [Create device password](https://www.spotify.com/dk/account/set-device-password/)
2. `spd -u *device_username* -p *device_password* -l spotify:user:spotify:playlist:06KmJWiQhL0XiV6QQAHsmw`

Works. Tested with Windows and Mac.

[2015-08-28 03:15] murilopmachado opened #19 "Bad Request (400)"
Im simply getting Bad Request when i try to download a music...

Here's the log

Downloader App Started..
- Getting Playlist Data
- Got Playlist: Duvet
- Processing 100 Tracks
  Error: Client Error: Bad Request (400)

<img width="271" alt="screen shot 2015-08-28 at 12 14 41 am" src="https://cloud.githubusercontent.com/assets/7840860/9538358/d32bb012-4d19-11e5-94f5-83d1b09f79c4.png">

[2015-08-30 00:27] qrpike commented on #18
If you can find a better cross platform tool I will change it. It is used
to write the ID3 data to the .mp3 file. So when you load the file into
iTunes it knows the Artist, track name, etc.

Thanks,

On Thu, Aug 27, 2015 at 2:02 PM, Nerijus notifications@github.com wrote:

[2015-09-01 11:16] alozta opened #20 "FATAL ERROR: CALL_AND_RETRY_LAST Allocation Failed - process out of memory +WINDOWS"
On Windows,
Trying this playlist https://play.spotify.com/user/spotify/playlist/0i0KOEPUK7pA1A5A29ulk4 when program comes 21 of 100 it suddenly increases the usage of memory from 64mb to 1400mb than program crashes with that error. I got 8gb memory and program crashes while it's around %40 of memory usage.

[2015-09-02 07:22] ghost commented on #15
+1 mac free spotify account

[2015-09-06 16:27] LiquidBoL commented on #20
I'm also having this problem.

[2015-09-12 16:04] dgomesbr commented on #15
+1 on premium acc. + windows + git bash console.

[2015-09-13 09:59] kbitson commented on #14
is this still working for you? I'm on Mint and I can't get it to work.

[2015-09-14 20:46] leonelfolmer commented on #19
Same :(.

[2015-09-18 15:37] BosioGerman commented on #15
Same error on Ubuntu

/usr/local/lib/node_modules/spotify-playlist-downloader/node_modules/spotify-web/node_modules/protobufjs/ProtoBuf.js:1987
                            throw(e);
                                  ^
Error: Illegal value for Message.Field .spotify.metadata.proto.Restriction.catalogue: 4 (not a valid enum value)
  at [object Object].ProtoBuf.Reflect.Field.verifyValue (/usr/local/l

[2015-09-23 21:07] rabeetio commented on #19
Me too :(

[2015-10-01 16:53] runelaenen commented on #19
This happens when the song is a 'local' song. (so something you've uploaded yourself)
There's a way to detect this and skip those songs since I've done this in the past locally (never made a PR). I'll see if I can find the sollution again and I'll make a PR when I've got some free time.

[2015-10-02 10:18] rabeetio opened #21 "(Error: connect ECONNREFUSED)"
Anybody else getting this error and know a workaround? I see that there was the same issue in the closed issues but there wasnt' really a solution?

Thanks!

[2015-10-07 14:57] greensouth commented on #21
Same here, please somebody help?

[2015-10-08 00:58] karroffel commented on #21
The problem is within `spotify-web` which is used by this app.
 Seems like the given IP is not valid anymore through changes in the spotify web api. Maybe you need to use a premium account (I only got a free one)

[2015-10-08 02:41] karroffel commented on #21
The problem is, that the ping pong server http://ping-pong.spotify.nodestuff.net/ is down. I actually got my own ping pong server up for running, but i cannot download songs because "Track is not playable in country DE" Grrrr
If you want to set up your own ping pong server take a look at
https://github.com/1994rstefan/Spotify-Ping-Pong-API

All you need to do is to change the line 478 in lib/spoti

[2015-10-08 07:16] greensouth commented on #21
Already did, and got
- Processing 100 Tracks
  /usr/local/lib/node_modules/spotify-playlist-downloader/node_modules/spotify-web/node_modules/protobufjs/ProtoBuf.js:1987
                          throw(e);
                          ^

Error: Illegal value for Message.Field .spotify.metadata.proto.Restriction.catalogue: 4 (not a valid enum value)

[2015-10-08 11:23] karroffel commented on #21
I had to rebuild the protobufjs modules.
Then in `lib/schemas.js` of spotify-web you need to change the line 15
`var protobufjs = require('protobufjs');` to
`var protobufjs = require('/usr/lib/node_modules/protobufjs');`

This worked for me (except that i am unable to download tracks because of the region error)

[2015-10-08 19:47] karroffel commented on #21
https://github.com/TooTallNate/node-spotify-web/issues/102#issuecomment-146658814

Got it working (even in Germany ^^)

[2015-10-23 07:52] BadChoice commented on #15
+1

[2015-10-23 10:01] qrpike commented on #15
The error originates from here: https://github.com/TooTallNate/node-spotify-web/issues/107

You MUST _MUST_ use node version 0.10.36

If you want to change your version of node often, check out nvm ( node version manager ).

Reinstall spd once you are on the correct version of Node and it will work fine.

[2015-10-23 10:01] #15 closed

[2015-11-05 14:40] Reiszecke opened #22 "First tracks fail, one downloads, next gives ENOENT"
Hey I am on Mac OS X and what I did so far was
- adjusting the metadata.proto (it was requesting a 4 where there was only a 3 and a 7 and 8 where there was only a 6)
- re- un- and installed node several times until I got a clean install of 0.10.36
  Which gave me

  On most tracks that actually ARE available here. So I forced spotify.js' isTrackAvilable() to return true (instead of the actual resu

[2015-11-06 01:52] rkmax opened #23 "Error: Illegal value for Message.Field .spotify.metadata.proto.Restriction.catalogue: 4 (not a valid enum value)"
I get the same error with node versions:
- 0.12.7
- 4.2.1

[code]

[2015-11-06 12:21] qrpike commented on #23
Please see the other issues, it requires a specific version of node

[2015-11-06 12:22] qrpike commented on #22
I dont have much time to work on it anymore, however if you want to submit a pull request for fixes / edits please do so and I'll merge it in ASAP.

Thanks,

[2015-11-06 12:39] rkmax commented on #23
Thanks @qrpike using node 0.10.40 works.

[2015-11-06 12:39] rkmax commented on #23
duplicate of #6

[2015-11-06 12:39] #23 closed, assigned to nobody

[2015-12-14 00:13] ltdenard opened #24 "Ubuntu 15.04 Installation Instructions"
I thought I would share this with everyone incase you wanted to add it to the Wiki

[code]

[2015-12-14 16:15] #21 closed, assigned to nobody

[2015-12-15 00:05] fredericmalo opened #25 "Ubuntu 15.10 Installation Instructions"
Hello, this is it  :
# Ubuntu 15.10

sudo apt-get -y install wget ffmpeg build-essential git

_Why v0.10.36 ? Please see qrpike comment : https://github.com/qrpike/spotify-playlist-downloader/issues/15#issuecomment-150532849_

wget https://nodejs.org/dist/v0.10.36/node-v0.10.36-linux-x64.tar.gz
sudo tar -C /usr/local --strip-components 1 -xzf node-v0.10.36-linux-x64.tar.gz
ls -l /usr/local/bin/nod

[2015-12-20 04:57] dangrove98 commented on #25
OMG I've been looking to get this working on OS X for agessss (Terminal kept spewing out the "cannot find command spd" thing) so I thought I'd chance on your instructions as they're very different to everything else I've seen. It works perfectly, thank you so much!

[2015-12-21 21:26] fredericmalo commented on #25
Happy I could help ! :)

It can be very frustrating that such software could not been installed in a snap

Many thanks Quinton for your work !

[2015-12-22 11:34] dangrove98 opened #26 "Album art ID3 tagging?"
Would it be possible to incorporate the adding of album into the ID3 tagging (please)? Apparently spotify-ripper (same type of program) does but I've never been able to get the program to work at all - if you could find a way to add the album art as well you'd be an absolute legend!

[2015-12-22 12:13] qrpike commented on #25
@fredericmalo Thanks for giving back! If you want to create a pull request with this in the README, I can merge that in as well. I may have some time soon to see if we can work around that v0.10.x issue.

@dangrove98 cheers!

[2015-12-22 20:44] fredericmalo commented on #25
Hello,

I would love to make pull request. Before that, how can I make the "spd" command work ?

I could only make "node main.js -u user -p password -l spotify:user:spotify:playlist:06KmJWiQhL0XiV6QQAHsmw" work and it's not as cute as "spd ..."

Thanks !

[2016-01-09 03:07] sgarwang commented on #6
I got the same error, got work around by using 0.10.36~ Thanks!

Downloader App Started..
- Getting Playlist Data
- Got Playlist: OLD SCHOOL HIP HOP
- Processing 100 Tracks
  /usr/local/lib/node_modules/spotify-playlist-downloader/node_modules/spotify-web/node_modules/protobufjs/ProtoBuf.js:1987
                          throw(e);

[2016-01-12 17:20] realdannys opened #27 "Any chance we could have higher bitrate?"
Be nice to use Apple Lossless (ALAC) so that we don't need to re-encode the files again. Plus they're 320k OGG as default to at least 320k AAC would be better.

[2016-01-12 17:40] mikesmiffy128 commented on #27
Hi, I decided to do a quick Google; apparently desktop Spotify uses Vorbis
while web Spotify uses MP3 (maybe for compatibility or something?). So
there's no way to do this except maybe libspotify (but that's deprecated,
probably to prevent tools like this :P), or by reverse engineering the
desktop protocol (which might be an interesting thing to try and do,
actually). Honestly though, a 320kbps MP

[2016-01-12 17:45] realdannys commented on #27
Yeah of course, it uses MP3 as OGG isn't supported by most browsers (though ironically I don't believe Firefox supports MP3...I did setup a stream site once a few years ago)

I'd be happy with 320k mp3 sure - I mean...do we need to re-encode them at all? Seen as we're directly ripping the Mp3's here - or is that part of the decryption? In which case surely we can re-encode to any format via NODEJS

[2016-01-12 17:46] realdannys commented on #27
(of course I might be overlooking the fact that 160kbps IS the max bitrate for the web player)

[2016-01-12 17:52] mikesmiffy128 commented on #27
I'm pretty sure the default is a direct rip but I'll need check once I log
into my computer. If it is then you can just FFMpeg it from there I guess.
I imagine there's no point making it lossless though since the quality
isn't gonna get any higher (the only exception is if you're editing
something and you re-export, of course).

##

Sent from Gmail Mobile

[2016-01-12 17:54] realdannys commented on #27
If its direct rip then thats fine. Its only if a re-encode is required lossless would be helpful and only then to stop you encoding to MP3 twice (not to improve the quality of the existing mp3 obviously)

[2016-01-25 20:26] geirawsm opened #28 "Error when running on Arch"
uname -a
`Linux manjaro 4.2.8.1-1-MANJARO #1 SMP PREEMPT Fri Jan 8 23:56:16 UTC 2016 x86_64 GNU/Linux`

npm -v
`3.5.3`

Ran it and got the following output:

[code]

Let me know if you need any more info.

[2016-01-25 20:38] ladiespls commented on #28
You may potentially be facing this issue:
https://github.com/qrpike/spotify-playlist-downloader/issues/6
https://github.com/TooTallNate/node-spotify-web/issues/75
Try reinstalling using node 0.10.36 (found here: http://nodejs.org/dist/v0.10.36/) and see if that fixes your issue.

[2016-01-26 21:34] franomai commented on #28
You may potentially be facing this issue: https://github.com/qrpike/spotify-playlist-downloader/issues/6 https://github.com/TooTallNate/node-spotify-web/issues/75
Try reinstalling using node 0.10.36 (found here: http://nodejs.org/dist/v0.10.36/) and see if that fixes it.

[2016-02-03 23:28] KeizerDev commented on #28
@armandg Managed to fix it, just do the following:

[code]

I got exactly the same bug as you had, let me know if this worked for you!

[2016-02-04 12:19] geirawsm commented on #28
@KeizerDev Cheers, I'll try it out and report back.

[2016-02-05 20:48] geirawsm commented on #28
@KeizerDev Worked like a charm! =)

[2016-02-05 20:48] #28 closed, assigned to nobody

[2016-02-06 19:45] ariellyrycs opened #29 "fatal error: too many errors emitted, stopping now [-ferror-limit=]"
fatal error: too many errors emitted, stopping now [-ferror-limit=]
20 errors generated.
make: **\* [Release/obj.target/protobuf_for_node/protobuf_for_node.o] Error 1
gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onExit (/usr/local/lib/node_modules/npm/node_modules/node-gyp/lib/build.js:267:23)
gyp ERR! stack     at ChildProcess.emit

[2016-02-06 20:06] KeizerDev commented on #29
Check out #28

[2016-02-08 05:19] adinbied opened #30 "Working on Free Accounts"
Hi there,
This is not an issue, but I wanted to let you know that this also works for free spotify accounts. Thanks for the effort!

[2016-02-11 23:18] #30 closed, assigned to nobody

[2016-02-12 23:43] pickledgator commented on #28
Also confirming that the workaround from KeizerDev seems to work (despite errors in the npm install steps still).

[2016-02-23 22:22] Ron-J1 commented on #18
Found a solution! Installing ffmpeg doesn't add it to your PATH variable. I was lazy and copied the three executables into a bin folder within my PATH variable and the script runs without errors now.
Alternatively, you should add the path to the executables of ffmpeg to your PATH variable.

Also, be aware, that ffmpeg writes id3v2.4 which isn't readably by the windows explorer or windows media pla

[2016-02-24 10:30] Ron-J1 commented on #18
If the id3v2.3 fix doesn't work straight away, you might have to install ffmetadata above version v.0.4

[2016-02-26 12:57] mike1808 commented on #25
The same result but with nvm:
1. Download nvm

[code]
1. Install node v0.10.36 using nvm

[code]
1. Install qrpike/spotify-playlist-downloader

[code]
1. ???
2. Download your playlist using this script.

Works on all OSes and versions.

[2016-03-08 18:32] manueldeprada opened #31 "Download more than 100 tracks?"
Is it possible to download more than 100 tracks? My playlist has 140
Thank you, good work m8!

[2016-03-08 21:58] KeizerDev commented on #31
Duplicate of #11.
To bypass this, just split the playlist in 2.

[2016-03-08 21:59] #31 closed, assigned to nobody

[2016-03-26 22:31] gargomoma opened #32 "Create folders automatically by playlist name?"
First of all thanks for the script!!

I'm trying to automatically create the folders by playlist instead of artist.
I've tried editing downloader.js and downloader.coffee but returns me errors.

Someone knows how can I do it?

Thanks!!

PS: Sorry for my English

[2016-03-28 15:36] manueldeprada commented on #32
just search in the folder for all *.mp3 files and then cut paste them to other folder

[2016-03-28 22:41] BrodaNoel commented on #10
The link to "Create device password" is broken.

[2016-03-28 22:55] BrodaNoel opened #33 "Error downloading in Windows"
I'm running: ´spd -u brodanoel -p **\* -l spotify:user:brodanoel:playlist:0G4YSmvA3uBH3maNqfhRHn`

Here the log:

[code]

[2016-03-31 14:29] leonelfolmer opened #34 "TrackError: Account subscription status not Spotify Premium ..."
I get this message this morning:

[code]

Free account but also tested in premium account.

Ubuntu
NodeJs: v0.10.25

[2016-04-08 14:23] benjamincharity opened #35 "Still getting Error: Illegal value for Message.Field"
I see a few posts that look like this has been solved (eg. #25) but despite all my tries this is still not working. I was able to get [spotify-ripper](https://github.com/jrnewell/spotify-ripper) working but ripping in real time is brutally slow..

I'm sure you're all tired of seeing this error.. but would anyone have any other ideas for me to try?
- Retried full install process several times
- Tri

[2016-04-08 15:36] ghost opened #36 "Works on Windows 7!!!"
eu fiz o programa funcionar normalmente no windows 7 64x(não testei outras versões), depois de tentar inúmeras vezes, com vários erros como versão do node incompatível com o python, e outros inúmeros erros, fui pesquisando e resolvendo um a um, até que veio o erro que foi mais complicado "Error: spawn ffmpeg ENOENT" ou "Error: spawn ENOENT", mas finalmente hoje as 12:20 eu conseguir resolver o pro

[2016-04-08 18:13] benjamincharity commented on #35
fwiw just went through the install process on my windows box with no luck either..

[code]

[2016-04-10 17:36] jesuslg123 commented on #35
The same here with node v0.12.4 on Mac OS...

[2016-04-14 19:53] gigi199596 commented on #34
Hey,
I'm getting the same as you... Sometimes It downloads one by one by ending with "Error: spawn ENOENT" and otherwise I get "TrackError: Account subscription status not Spotify Premium ...  { Skipping Track }"

Debian, node version 0.10.36 and 0.10.44 (I use "n" to switch between node versions)

[UPDATE] ffmpeg recompiled with all dependencies and codecs. --> not working
[UPDATE] I tried the wo

[2016-04-14 19:56] gigi199596 commented on #35
try installing a virtualbox with linux?
I tested it with a friend on a macintosh. Same as you... despites a correct node js version (0.10.36)

tips for the future: try using "n". It's a npm package that allow you to change node js versions in a "hot swap" way :)

[2016-04-19 08:02] s3550167 commented on #34
Can confirm the account status error, also running Ubuntu with NodeJS 0.10.25.

[2016-04-25 19:03] bnb commented on #35
Same here, latest OS X. Using n/latest.

[2016-05-02 15:25] kimgkimg opened #37 ""TrackError: Failed to send to backend" encountered on all playlist downloads now"
Running Node.js v5.9.1.  Encountering the following error on all new playlist downloads now:
- \- TrackError: Failed to send to backend ...  { Skipping Track }

[2016-05-02 16:07] shoeper commented on #37
Same here. And if that error doesn't occur it says I wouldn't have premium.

[2016-05-02 16:12] ghost commented on #37
Didn't try this one here, but https://github.com/serjum/spotify-playlist-downloader works _partially_ if you install "theSmallNothing/node-spotify-web#master" (and have node < 6) . Only the first track of the playlist gets decrypted, I guess the spotify-playlist-downloader needs some adjustments to decrypt the rest propperly? From what the downloads look like, it might try to use the same tokens f

[2016-05-05 20:44] cecov74 commented on #35
the same at linux centos
node 0.10.36
how can resolve?

[2016-05-08 15:15] frattomatti commented on #37
same issues for me too...

[2016-05-21 11:26] giacecco commented on #35
Same here on Fedora 23 and node 4.4.4.

[2016-05-21 13:45] giacecco commented on #37
Same here.

[2016-05-21 13:53] giacecco commented on #28
I confirm @KeizerDev's branch works, however the file format of the mp3s may be not fully compliant with the standard, as I can't play them with mplayer for example, but I can with Firefox.

[2016-05-21 15:52] giacecco opened #38 "Only first track readable when downloading a few"
Try download an album and only the first track will play, the others have files that cannot be read. This looks like a sort of "decryption" issue, as if the application is doing it for the first track only instead of every time.

[2016-06-02 13:12] TheNetStriker commented on #37
I also have this error. Is there any solution to this yet?

[2016-06-03 02:38] kimgkimg commented on #37
It's been fixed in this fork:
https://github.com/kelvinss/node-spotify-downloader

[2016-09-04 21:39] yappyap opened #39 "Invalid captcha"
Everything went fine until it shows an error stating invalid captcha value supplied. Please help, thank you x

[2016-09-06 18:43] byjokese commented on #39
same here.

[2016-09-07 18:37] Musiphilos commented on #39
Same here

[2016-09-09 07:54] SEOBibek commented on #39
Same is with me.

[2016-09-10 03:37] Gab0 commented on #39
+1

[2016-09-13 05:48] donovanOng commented on #39
+1

[2016-09-28 23:19] rtlechow commented on #39
😢

[2016-09-30 15:32] ahmagdy commented on #39
+1

[2016-09-30 21:32] sxedan commented on #39
Same issue here

[2016-10-03 19:45] seraphyn commented on #39
Same under Debian Jessie

[2016-10-03 19:49] aidancrane commented on #39
Same under Windows 10

[2016-10-05 18:50] goamaral commented on #39
This app grabs songs from the spotify web player. The problem is that a couple of months ago spotify changed their login page and now it requires a captcha to login succesfully. So it aint OS dependent. Someone needs to find a way around the recaptcha problem. It will e kinda a pain in the ass cause the app is built for console.

[2016-10-05 18:55] mikesmiffy128 commented on #39
This is an [upstream issue](https://github.com/TooTallNate/node-spotify-web/issues/130), by the way, so whatever solution is required will probably be worked out there or in some fork.

[2016-12-14 23:29] shakisha commented on #27
any possibility to have got a better bitrate using this tool?

[2016-12-23 21:55] jrab66 commented on #39
same here :S

[2017-01-06 03:15] g0053 commented on #39
+1
Downloader App Started..
Error logging in... (Error: fallback: Invalid captcha value supplied)

[2017-01-17 04:06] jatiyanon commented on #39
Same Here, keep fight

[2017-01-17 16:53] mikesmiffy128 commented on #39
I don't know why everyone's still saying "same here." This tool hasn't worked for a while, unfortunately, and I don't know if anyone is working to fix it. You can either buy music legally or download it from somewhere else.

[2017-02-05 04:12] brokenarrowsec commented on #39
+1

[2017-02-08 19:20] developer2013 commented on #39
+1

[2017-04-12 01:29] PassTheMayo commented on #39
same

[2017-04-18 00:41] carklo commented on #39
+1

[2017-04-23 05:19] fabriguzden commented on #39
Now spotify has a bug that I discovered in tools for chrome developers in the Networks section, a multimedia audio file appears in DRM and can be downloaded but not played, try to convert it with ffmpeg but only could unlock 25 seconds

There will be some solution, somebody who wants to create or modify some tool to download music from spotify

[2017-04-23 05:20] fabriguzden opened #40 "Spotify Web Player BUG Important"
Now spotify has a bug that I discovered in tools for chrome developers in the Networks section, a multimedia audio file appears in DRM and can be downloaded but not played, try to convert it with ffmpeg but only could unlock 25 seconds

There will be some solution, somebody who wants to create or modify some tool to download music from spotify

[2017-07-06 02:33] ketansweta opened #41 "cannot find spd"
Where is the spd executable ?

Did this : npm install -g spotify-playlist-downloader
and installed install ffmpeg

not sure where do I run this
spd -u yourusername -p yourpassword -l spotify:user:spotify:playlist:myplaylist

am unable to find spd executable

[2017-07-06 02:40] ketansweta commented on #39
was anyone able to resolve the Captcha issue

[2017-07-29 00:27] amiut commented on #39
+1

[2017-09-19 15:10] NBprojekt opened #42 "Wired styling in README.md"
Please check if the styling in your [README.md](https://github.com/qrpike/spotify-playlist-downloader/blob/master/README.md) is right.

There are some missing spaces after the hash-tags.

[2018-03-16 07:41] turbolego opened #44 "TypeError: Cannot read property 'csrftoken' of undefined"
On windows 10.

[code]

[2018-05-14 03:18] ayushzenith commented on #41
I had same issue so i used sudo(when installing spotify-playlist-downloader). and just ran spd in command line but soon had another error.(Cannot read property 'csrftoken' of undefined)

[2018-05-14 03:19] ayushzenith commented on #44
same issue do u have a fix???

[2018-06-28 09:21] jimb-cc commented on #44
Yes, Seeing that here too.  CSRF is the Cross-Site Request Forgery token which Spotify have probably fairly recently introduced or changed.

[2018-06-28 18:01] riemerick commented on #44
Exactly the same error here.
Waiting a solution to test spotify-playlist-downloader.

[2019-09-14 22:28] arneschlag commented on #44
Still the same error here.
Also waiting for a solution

[2020-03-18 22:46] EudrinoDev commented on #44
Same Error, waiting for a solution

[2020-06-09 15:39] massylbakouri opened #47 "lol"

[2020-06-09 15:39] #47 closed, assigned to nobody

[2020-08-30 20:14] askfriends opened #48 "can we run this in colab?"
i am running this on colab, i have git clone this repo but when i run `!npm install -g spotify-playlist-downloader` command, it runs indefinitely.

so can we run this on colab? if yes then how?

[2020-10-05 21:33] spencerthayer commented on #44
Same error, waiting for solution.

[2021-12-21 21:39] vergissberlin commented on #44
Last update seven years ago …